# Dependencies
node_modules/

# Config
config.js
.env

# Logs
logs/
*.log

# Auth / Secrets
session.json
refresh.token

# Build
dist/

# Test coverage
coverage/

# IDE
.idea/
.codex
.vscode/

# OS
.DS_Store

.omc
.sisyphus
.claude
